<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wordpress.arogyavidyastonepaperscissor"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.wordpress.arogyavidyastonepaperscissor.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wordpress.arogyavidyastonepaperscissor.Learn"
            android:label="@string/title_activity_learn" >
        </activity>
        <activity
            android:name="com.wordpress.arogyavidyastonepaperscissor.Play"
            android:label="@string/title_activity_play" >
        </activity>
        <activity
            android:name="com.wordpress.arogyavidyastonepaperscissor.Results"
            android:label="@string/title_activity_results" >
        </activity>
        <activity
            android:name="com.wordpress.arogyavidyastonepaperscissor.Winner"
            android:label="@string/title_activity_winner" >
        </activity>
        <activity
            android:name="com.wordpress.arogyavidyastonepaperscissor.Loser"
            android:label="@string/title_activity_loser" >
        </activity>
    </application>

</manifest>
